<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-center">
                <div class="row">
                    <div class="d-flex flex-column justify-content-center" v-if="!inventories.length" style="margin-top: 40px;">
                        <div class="col-md-12">
                                <h3> No Jobs Added Yet </h3>
                                <router-link :to="{ name: 'inventory.create' }" class="btn btn-success"> Add New Jobs</router-link>
                            </div>
                    </div>
                    <table class="table" v-else>
                        <thead>
                            <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Created On</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(inventory,index) in inventories" @key="index">
                                <th scope="row">{{ index+1 }}</th>
                                <td><progressive-img :src="'/images/' + inventory.image_name" :alt="inventory.name" /></td>
                                <td>{{inventory.name }}</td>
                                <td>{{inventory.quantity }}</td>
                                <td>{{inventory.price | currency}}</td>
                                <td>{{ inventory.created_at | formatDate }}</td>
                                <span v-if='isLoggedIn'>
                                <td><router-link :to="{name: 'inventory.edit', params: {eid: inventory.id} }" tag='a' class="btn btn-success"> Edit </router-link>
                                <button class="btn btn-danger" v-on:click="deleteInventory(inventory.id, index)"> Delete </button></td>
                                </span>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import toast from '../../../services/toast';

export default {
    data() {
        return {
            title: 'Search for Jobs'
        }
    },
    computed: {
        inventories() {
            return this.$store.getters.inventories;
        },
        isLoggedIn() {
            return this.$store.getters.isLoggedIn;
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
        this.$store.dispatch('getAllInventories');
    },
    methods: {
        deleteInventory(id, index) {
            let data = {
                id: id,
                index: index,
            }
            this.$store.dispatch('deleteInventory', data);
            if (this.$store.getters.isSuccess) { 
                toast.success('Inventory deleted');
            }
            else {
                toast.error('There was a problem deleting inventory');
            }
        }
    },
}
</script>

<style scoped>

</style>