<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header bg-success text-white">Edit {{ inventory.name }} Inventory</div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="itemName" class="col-sm-4 col-form-label text-md-right">Item Name</label>
                                    <div class="col-md-6">
                                        <input id="itemName" type="text" class="form-control" v-model="inventory.name" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="itemPrice" class="col-sm-4 col-form-label text-md-right">Item Price</label>
                                    <div class="col-md-6">
                                        <input id="itemPrice" type="number" class="form-control" v-model="inventory.price" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="itemQuantity" class="col-sm-4 col-form-label text-md-right">Item Quantity</label>
                                    <div class="col-md-6">
                                        <input id="itemQuantity" type="number" class="form-control" v-model="inventory.quantity" required>
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label for="itemDescription" class="col-sm-4 col-form-label text-md-right">Item Description</label>
                                    <div class="col-md-6">
                                        <textarea id="itemDescription" class="form-control" rows="8" v-model="inventory.description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-offset-2 col-md-10 text-center">
                                        <progressive-img :src="'/images/' + inventory.image_name"  :alt="inventory.name" />
                                    </div>
                                    <label for="itemImage" class="col-md-4 col-form-label text-md-right">Item Image</label>
                                    <div class="col-md-6">
                                        <input id="itemImage" type="file" class="form-control" ref="image" v-on:change="handleFileUpload">
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success" @click="handleSubmit">
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: this.$store.getters.title,
            eid: this.$route.params.eid,
            itemImage: null,
        }
    },
    beforeMount(){
        let eid =  this.$route.params.eid;
        this.$store.dispatch('getSingleInventories', eid);
    },
    computed: {
        inventory  () {
            return this.$store.getters.inventory;
            
        },
    },
    mounted() {
        
    },
    methods: {
        handleFileUpload(e){
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
                vm.itemImage = vm.image;
            };
            reader.readAsDataURL(file);
        },
        handleSubmit(e) {
            e.preventDefault();
            let data = {
                name: this.inventory.name,
                quantity: this.inventory.quantity,
                price: this.inventory.price,
                description: this.inventory.description,
                image: this.image,
                id: this.eid,
            }
            this.$store.dispatch('updateInventory', data);
        }
    }
}
</script>

<style scoped>

</style>