<template>
        <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header bg-success text-white">Retrieve Your Password</div>
                        <div class="card-body">
                            <form autocomplete="off" @submit.prevent="requestResetPassword" method="post">
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address or username</label>
                                    <div class="col-md-6">
                                        <input id="email" type="text" class="form-control" v-model="login" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success">
                                            Request Password
                                        </button>
                                        <div class="create-bg d-flex justify-content-between">
                                            <h6><router-link :to="{ name: 'login' }" class="nav-link" tag="a">Login </router-link> </h6>
                                            <h6><router-link :to="{ name: 'register' }" class="nav-link" tag="a">Register </router-link> </h6>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import toast from '../../../services/toast';
export default {
    data() {
      return {
        login: '',
      }
    },
    methods: {
        requestResetPassword() {
            let data = {
                login: this.login,
            };
            this.$store.dispatch('forgotPassword', data).then(result => {
                if (this.$store.getters.isSuccess) {
                    this.login = '';
                    toast.success('password reset mail has been sent to your email');
                    resetToken = this.$store.getters.getResetToken;
                }
            });
        }
    }
}
</script>