<template>
        <div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card card-default">
                        <div class="card-header bg-success text-white">New Password</div>
                        <div class="card-body">
                            <form autocomplete="off" @submit.prevent="resetPassword" method="post">
                              <div class="form-group">
                                  <label for="email">E-mail</label>
                                  <input type="email" id="email" class="form-control" placeholder="user@example.com" v-model="email" required>
                              </div>
                              <div class="form-group">
                                  <label for="email">Password</label>
                                  <input type="password" id="password" class="form-control" placeholder="" v-model="password" required>
                              </div>
                              <div class="form-group">
                                  <label for="email">Confirm Password</label>
                                  <input type="password" id="password_confirmation" class="form-control" placeholder="" v-model="password_confirmation" required>
                              </div>
                              <div class="form-group row mb-0">
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-success">
                                            Reset Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import toast from '../../../services/toast';

export default {
    data() {
      return {
        token: null,
        email: null,
        password: null,
        password_confirmation: null,
        has_error: false,
        title: 'Reset Password',
        token: this.$route.params.token,
      }
    },
    beforeMount() {
      let token =  this.$route.params.token;
      this.$store.dispatch('validateTokenPassword', token).then(result => {
            if (this.$store.getters.isSuccess == true) {
                this.login = '';
                alert('Sorry token was invalid.');
                this.$router.push({name: 'forgot-password'})
            }
      });
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
    },
    methods: {
        resetPassword() {
          this.$store.dispatch('resetPassword', data).then(result => {
                if (this.$store.getters.isSuccess) {
                    this.login = '';
                    toast.success('password has been resetted, please proceed to login.');
                    this.$router.push({name: 'login'})
                }
          });
        }
    }
}
</script>