<template>
    <div style="background-image: url('/images/banner.jpg');background-position: top;background-size: cover;background-position:center;">
        <div class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto">
            <h2 class="title">{{ title }}</h2>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    computed: {
    title() {
      return this.$store.getters.title;
    }
  }
    
}
</script>
<style scoped>

</style>