<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 justify-center">
                <div class="row">
                    <div class="d-flex flex-column justify-content-center" v-if="users.length <= 1" style="margin-top: 40px;">
                        <div class="col-md-12">
                                <h3> Sorry you are only the user in the system </h3>
                                <router-link :to="{ name: 'user.create' }" class="btn btn-success"> Add New User</router-link>
                            </div>
                    </div>
                    <table class="table" v-else>
                        <thead>
                            <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Access Level</th>
                            <th scope="col">Joined on</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user,index) in users" @key="index">
                                <th scope="row">{{ index+1 }}</th>
                                <td>{{user.firstname + ' ' + user.lastname }}</td>
                                <td>{{user.name }}</td>
                                <td>{{user.email}}</td>
                                <td>{{ user.is_admin = 0 ? 'No' : 'Yes' }}</td>
                                <td>{{ user.created_at | formatDate }}</td>
                                <span v-if='isLoggedIn'>
                                <td><router-link :to="{name: 'user.edit'}" tag='button' class="btn btn-success"> Edit </router-link>
                                <button class="btn btn-danger" v-on:click="deleteInventory(user.id)"> Delete </button></td>
                                </span>
                            </tr>
                        </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            title: 'List of all Users'
        }
    },
    computed: {
        users() {
            return this.$store.getters.users;
        },
        isLoggedIn() {
            return this.$store.getters.isLoggedIn;
        }
    },
    mounted() {
        this.$store.dispatch('changeHeaderTitle', this.title);
        this.$store.dispatch('getAllUsers');
    },
}
</script>

<style scoped>

</style>